.input-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #343a40;
  border: 1px solid rgba(19, 18, 18, 0.734);
  padding: 0.6rem 0.8rem;
  border-radius: 0.4rem;
}
.input {
  padding: 0 rem 0.8rem;
  background-color: #343a40;
  color: #cfd0d2;
  flex-grow: 1;
}

.option {
  background-color: transparent;
  border: none;
  color: var(--clr-secondary);
  cursor: pointer;
}

.logo {
  height: 1.6rem;
  width: 1.6rem;
}
